@import url("./common.css");

.edu-widget-tile-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.edu-widget-tile-layout .add-section{
  position: relative; 
  height: 30px; 
  margin-top: 7px;
  overflow: visible;
}

.edu-widget-tile-layout .jimu-btn {
  float: none;
  margin: auto;
  width: 150px;
}

.edu-widget-tile-layout .jimu-state-error {
  margin-top: 4px;
  visibility: hidden;
}