/* ============================================================================================================================
== BUBBLE WITH AN OBTUSE TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-obtuse {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: #fff;
    background: #c81e2b;
    /* css3 */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
    background: -moz-linear-gradient(#f04349, #c81e2b);
    background: -o-linear-gradient(#f04349, #c81e2b);
    background: linear-gradient(#f04349, #c81e2b);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-obtuse.top {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c81e2b), to(#f04349));
    background: -moz-linear-gradient(#c81e2b, #f04349);
    background: -o-linear-gradient(#c81e2b, #f04349);
    background: linear-gradient(#c81e2b, #f04349);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-obtuse.left {
    margin-left: 50px;
    background: #c81e2b;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-obtuse.right {
    margin-right: 50px;
    background: #c81e2b;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates the wider right-angled triangle */
.triangle-obtuse:before {
    content: "";
    position: absolute;
    bottom: -20px; /* value = - border-top-width - border-bottom-width */
    left: 60px; /* controls horizontal position */
    border: 0;
    border-right-width: 30px; /* vary this value to change the angle of the vertex */
    border-bottom-width: 20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
    border-style: solid;
    border-color: transparent #c81e2b;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

/* creates the narrower right-angled triangle */
.triangle-obtuse:after {
    content: "";
    position: absolute;
    bottom: -20px; /* value = - border-top-width - border-bottom-width */
    left: 80px; /* value = (:before's left) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
    border: 0;
    border-right-width: 10px; /* vary this value to change the angle of the vertex */
    border-bottom-width: 20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
    border-style: solid;
    border-color: transparent #fff;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

/* Variant : top
------------------------------------------ */

.triangle-obtuse.top:before {
    top: -20px; /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    left: auto;
    right: 60px; /* controls horizontal position */
    border: 0;
    border-left-width: 30px; /* vary this value to change the width of the triangle */
    border-top-width: 20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :after */
    border-color: transparent #c81e2b;
}

.triangle-obtuse.top:after {
    top: -20px; /* value = - border-top-width - border-bottom-width */
    bottom: auto;
    left: auto;
    right: 80px; /* value = (:before's right) + (:before's border-right/left-width)  - (:after's border-right/left-width) */
    border-width: 0;
    border-left-width: 10px; /* vary this value to change the width of the triangle */
    border-top-width: 20px; /* vary this value to change the height of the triangle. must be equal to the corresponding value in :before */
    border-color: transparent #fff;
}

/* Variant : left
------------------------------------------ */

.triangle-obtuse.left:before {
    top: 15px; /* controls vertical position */
    bottom: auto;
    left: -50px; /* value = - border-left-width - border-right-width */
    border: 0;
    border-bottom-width: 30px; /* vary this value to change the height of the triangle */
    border-left-width: 50px; /* vary this value to change the width of the triangle. must be equal to the corresponding value in :after */
    border-color: #c81e2b transparent;
}

.triangle-obtuse.left:after {
    top: 35px; /* value = (:before's top) + (:before's border-top/bottom-width)  - (:after's border-top/bottom-width) */
    bottom: auto;
    left: -50px; /* value = - border-left-width - border-right-width */
    border: 0;
    border-bottom-width: 10px; /* vary this value to change the height of the triangle */
    border-left-width: 50px; /* vary this value to change the width of the triangle. must be equal to the corresponding value in :before */
    border-color: #fff transparent;
}

/* Variant : right
------------------------------------------ */

.triangle-obtuse.right:before {
    top: 15px; /* controls vertical position */
    bottom: auto;
    left: auto;
    right: -50px; /* value = - border-left-width - border-right-width */
    border: 0;
    border-bottom-width: 30px; /* vary this value to change the height of the triangle */
    border-right-width: 50px; /* vary this value to change the width of the triangle. must be equal to the corresponding value in :after */
    border-color: #c81e2b transparent;
}

.triangle-obtuse.right:after {
    top: 35px; /* value = (:before's top) + (:before's border-top/bottom-width)  - (:after's border-top/bottom-width) */
    bottom: auto;
    right: -50px; /* value = - border-left-width - border-right-width */
    left: auto;
    border: 0;
    border-bottom-width: 10px; /* vary this value to change the height of the triangle */
    border-right-width: 50px; /* vary this value to change the width of the triangle. must be equal to the corresponding value in :before */
    border-color: #fff transparent;
}
