.edu-widget-bubble-message {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.edu-widget-bubble-message .input-message-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.edu-widget-bubble-message .message-list {
    height: 100%;
    width: 100%;
}

.edu-widget-bubble-message .base-message-text {
    position: relative;
    margin-top: 4px;
    padding: 4px 7px 4px 7px;
    max-width: 80%;
    clear: both;
    border: 1px solid #808080;
    border-radius: 7px 7px 7px 0px;
    -webkit-border-radius: 7px 7px 7px 0px;
    -moz-border-radius: 7px 7px 7px 0px;
    -o-border-radius: 7px 7px 7px 0px;
    -ms-border-radius: 7px 7px 7px 0px;
}

.edu-widget-bubble-message .self-message-text {
    float: left;
    margin-right: auto;
}

.edu-widget-bubble-message .other-message-text {
    float: right;
    margin-left: auto;
    text-align: right;
}

.edu-widget-bubble-message .add-section {
    position: relative;
    height: 30px;
    margin-top: 7px;
    overflow: visible;
}

.edu-widget-bubble-message .jimu-btn {
    float: none;
    margin: auto;
    width: 150px;
}

.edu-widget-bubble-message .jimu-state-error {
    margin-top: 4px;
    visibility: hidden;
}
